<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Catalog App
    </title>
    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1,
                   maximum-scale=1.0,
                   user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet"
          href="{{url_for('static',
                          filename='styles/styles.css')}}"
          media="screen">
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#bnavbar-collapse"
                  aria-expanded="false">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="app-title" href="/">
              Catalog App
              
          </a>
        </div>
        <div class="collapse
                    navbar-collapse"
             id="bnavbar-collapse">
          <ul class="nav
                     navbar-nav
                     navbar-right">
            {% if user_logged_in %}
              <li>
                <a href="/gdisconnect" class="btn btn-success">
                  Logout
                </a>
              </li>
            {% else %}
              <li>
                <a href="/login"  class="btn btn-success">
                  Login
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class = "alert
                      alert-dismissible
                      alert-{{messages[1]}}">
          <button type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p>{{ messages[0] }}</p>
        </div>
      {% endif %}
    {% endwith %}


    <div class="container">
      {% if user_logged_in %}
        <div class="row">
          <div class="col-xs-12 category-actions">
            {% block category_actions %}
            {% endblock %}
          </div>

        </div>

      {% endif %}

      <div class="row
                  panel
                  panel-default">
        {% if show_categories %}
        <div class="catalog-list
                    col-xs-12
                    col-sm-3">
            <h2>
              Categories
            </h2>
            {% for category in all_categories %}
              <div class="category">
                <a class="{{'active' if category_name and category_name.lower() == category.name}}"
                   href="{{url_for('showCategory',
                                   category_name=category.name)}}">
                  {{category.name.capitalize()}}
                </a>
              </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}
      </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    {% block gplus %}
    {% endblock %}
  </body>
</html>
