a {
  color: #e34d08;
}
.category-actions {
  margin: 15px -8px 0;
}

.navbar {
background-color: #012040;
  border-radius: 0;
  margin-bottom: 0;
}

.alert {
  border-radius: 0;
}

.panel {
  margin-top: 10px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.item {
  font-size: 16px;
  padding: 5px 0;
}

.category {
  padding-left: 0;
  margin-bottom: 20px;
}

.category a{
  font-weight: bold;
  font-size: 16px;
}

h2 {
  font-size: 18px;
}

form {
  padding: 0 15px;
}

.app-title {
  font-size: 36px;
  font-weight: 500;
  color: #FFF;
}

.btn {
  background-color: #e34d08;
  border-color: #e34d08;
}


.navbar-nav>li>a {
  padding: 10px;
  margin: 10px;
  color: #FFF;
}

.nav>li>a:hover{
  background-color: #012040;
  color: #FFF;
}